<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Rides
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="openShareRides()">Share rides</button>
  <ion-item>
    <ion-label>Search Rides</ion-label>
    <ion-input type="text" [(ngModel)]="search" name="search"></ion-input>
  </ion-item>
  <ion-list>
    <div *ngFor="let item of (rideArray | async)?.reverse()">
      <ion-item *ngIf="getSearchFiles(search,item)">
        <ion-thumbnail item-start>
          <img src='http://media.mw.metropolia.fi/wbma/uploads/{{ item.file_id  | thumbnail | async }}' item-start="" width="60" height="60">
        </ion-thumbnail>
        <h2>{{ getDestination(item.description) }}</h2>
        <p>{{ getDate(item.description) | date: ('dd.MM.yyyy') }}</p>
        <p>{{ getTime(item.description) }}</p>
        <p>{{ item.user_id | username | async  }}</p>
        <button ion-button clear (click)="viewRide(item.file_id)" item-end>View ride</button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
