@import url('https://fonts.googleapis.com/css?family=Roboto');
page-profile {
  $circle-height: 180px;

  .profPic_container {
    margin: 0 auto;
    text-align: center;
  }

  .profPic {
    border-radius: 50%;
    height: $circle-height;
    width: $circle-height;
    border: #006600 2px solid;
    margin: 30px auto;
  }


  .profPic_empty {
    @extend .profPic;
    background-color: darkgrey;
    line-height: $circle-height;
    text-align: center;

    p {
      line-height: 1.5;
      display: inline-block;
      vertical-align: middle;
      color: #006600;
    }
  }

  .userDetail {
    text-align: center;
    font-family: Roboto, sans-serif;
  }

  #username {
    @extend .userDetail;
    margin-top: 15px;
    font-size: 20px;
  }

  #fullname {
    @extend .userDetail;
  }

  #email {
    @extend .userDetail;
  }

  .vehicle {
    text-align: center;
    height: $circle-height;
    width: 100%;
    line-height: $circle-height;
    p {
      font-size: 17px;
      line-height: 1.5;
      vertical-align: middle;
      display: inline-block;
      color: #006600;
    }
  }

}
