<!--
  Generated template for the ShareridePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>shareride</ion-title>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </ion-navbar>
</ion-header>

<ion-content padding>

<form (submit)="upload()">
  <ion-item>
    <ion-label color="primary" stacked>Going from</ion-label>
    <ion-input type="string" [(ngModel)]="rideDetail.start" name="start" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Going to</ion-label>
    <ion-input type="string" [(ngModel)]="rideDetail.destination" name="destination" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Date of the ride</ion-label>
    <ion-input type="Date" [(ngModel)]="rideDetail.timeDate" name="date"  minlength="3" [required] ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Time leaving</ion-label>
    <ion-input type="Time" [(ngModel)]="rideDetail.timeAdded" name="leaving"  minlength="3" [required] ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Time arriving</ion-label>
    <ion-input type="Time" [(ngModel)]="rideDetail.timeReached" name="arriving"  minlength="3" [required] ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Additional details about the ride</ion-label>
    <ion-input type="string" [(ngModel)]="rideDetail.rideDescription" name="rideDetail"></ion-input>
  </ion-item>
  <ion-item (click)="present()" class="rideUpload" no-lines *ngIf="!filedata">
    <ion-label color="primary">Click to add an image</ion-label>
  </ion-item>
  <ion-card *ngIf="filedata" class="rideUpload-after" no-lines (click)="present()">
    <img [src]="filedata">
  </ion-card>
  <button ion-button type="submit">Submit ride</button>
</form>

  <div id="map_canvas" style="height: 100%"></div>
</ion-content>
