<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="loggedIn()">
    <ion-item>
      <h1 text-wrap style="text-align: center">{{ welcome }}</h1>
    </ion-item>
    <h3>Incoming rides</h3>
    <ion-list>
        <div *ngFor="let item of (rideArray | async)?.reverse()">
          <ion-item *ngIf="isYourRide(item)">
          <ion-thumbnail item-start>
            <img src='http://media.mw.metropolia.fi/wbma/uploads/{{ item.file_id  | thumbnail | async }}' item-start="" width="60" height="60">
          </ion-thumbnail>
          <h2>{{ getDestination(item.description) }}</h2>
          <p>{{ getDate(item.description) | date: ('dd.MM.yyyy') }}</p>
          <p>{{ getTime(item.description) }}</p>
          <p>{{ item.user_id | username | async  }}</p>
          <button ion-button clear (click)="viewRide(item.file_id)" item-end>View ride</button>
        </ion-item>
      </div>
    </ion-list>
    <h3>Previous rides</h3>
    <ion-list>
        <div *ngFor="let item of (rideArray | async)?.reverse()">
          <ion-item *ngIf="isExpiredRide(item)">
          <ion-thumbnail item-start>
            <img src='http://media.mw.metropolia.fi/wbma/uploads/{{ item.file_id  | thumbnail | async }}' item-start="" width="60" height="60">
          </ion-thumbnail>
          <h2>{{ getDestination(item.description) }}</h2>
          <p>{{ getDate(item.description) | date: ('dd.MM.yyyy') }}</p>
          <p>{{ getTime(item.description) }}</p>
          <p>{{ item.user_id | username | async  }}</p>
          <button ion-button clear (click)="viewRide(item.file_id)" item-end>View ride</button>
        </ion-item>
      </div>
    </ion-list>
  </form>

  <form *ngIf="!loggedIn()">
    <ion-slides scrollbar = "true">
      <ion-slide>
        <br>
        <h1>Hi!</h1>
        <h2>Welcome to RideShare</h2><br>
        <p>With RideShare you can easily get from place to another!</p>
        <p>RideShare gives you possibility to share your everyday rides to Work, School, Training or just from place to another in general.</p><br><br>
        <p style="font-weight: bold;" >Swipe left to start your trip!</p><br>
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/rideshare.png" alt="logo" width="60" height="60">
        <h1>Log in or Create user!</h1>

        <form *ngIf="hasAccount" (ngSubmit)="login();" #loginForm="ngForm">
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input type="text" [(ngModel)]="userData.username" name="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" [(ngModel)]="userData.password" name="password"></ion-input>
            </ion-item>
            <button ion-button type="submit" block>Log in</button>
            <a link href="#" (click)="hasAccount=false" block>Don't have an account yet?</a>
          </form>
        
          <form *ngIf="!hasAccount" (ngSubmit)="register()" #registerForm="ngForm">
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input type="text" [(ngModel)]="registerData.username" name="newUsername" [required]="usernameCheck" (ionBlur)="checkUsername()"></ion-input>
            </ion-item>
            <ion-item *ngIf="!usernameCheck">
              <p>Username is taken!</p>
            </ion-item>
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" [(ngModel)]="registerData.password" name="newPassword" minlength="6" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Confirm password</ion-label>
              <ion-input type="password" [(ngModel)]="passwordCheck" name="passwordCheck" minlength="6" required (ionBlur)="checkPassword()"></ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordMatch">
              <p>Password doesn't match!</p>
            </ion-item>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="text" [(ngModel)]="registerData.email" name="newEmail"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Full name</ion-label>
              <ion-input type="text" [(ngModel)]="registerData.full_name" name="newFullName"
                         pattern="^[A-Za-z\s]{1,}[ ]{0,1}[A-Za-z\s]{0,}$"></ion-input>
            </ion-item>
            <button ion-button type="submit" block>Register</button>
            <a link href="#" (click)="hasAccount=true" block>Already have an account?</a>
          </form>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
