<!--
  Generated template for the RidedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>ridedetails</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="item">
    <h2>{{ destination }}</h2>
    <img *ngIf="item.media_type === 'image'" [src] = "url + item.filename">
    <video *ngIf="item.media_type === 'video' " width="320" height="240" controls>
      <source [src] = "url + item.filename">
      Your device does not support the video.
    </video>
    <audio *ngIf="item.media_type === 'audio' " [src] = "url + item.filename" controls></audio>
    <p>{{ uploader }}</p>
    <button *ngIf="!commented" ion-button (click)="getSeat()">take spot!</button>
    <ion-list>
      <ion-item *ngFor ="let comment of takenSeats | async">
          <p>{{ comment.user_id | username | async }}</p>
          <button *ngIf="myComment(comment.user_id)" ion-button (click)="cancelSeat(comment.comment_id)">cancel ride!</button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
