<!--
  Generated template for the GetridePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>getride</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label>From</ion-label>
      <ion-input type="text" [(ngModel)]="ride.start" name="start"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>To</ion-label>
      <ion-input type="text" [(ngModel)]="ride.destination" name="destination"></ion-input>
    </ion-item>
    <ion-item *ngIf="isPc">
      <ion-label>Choose media file</ion-label>
      <ion-input type="file" (change)="handleChange($event)"></ion-input>
    </ion-item>
    <button *ngIf="isAndroid" ion-button (click)="choose()">Upload picture</button>
  </form>
  <ion-card>
    <img #preview [src]="filedata">
  </ion-card>
  <button ion-button (click)="upload();">Find ride</button>
</ion-content>
